.header-catalogue{
    margin-top: 9.9vh;

    height: 30vh;

    position: relative;
}
.header-catalogue-background{
    width: 100%;
    height: 100%;
    
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: -5;
}
.header-catalogue-content{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}
.header-catalogue-content p{
    font-size: 2rem;
    font-weight: 700;
    padding: 0 5%;
    text-align: center;
    color: var(--white);
}
/*************************************************************************************************************************/
.catalogue-content{
    background-color: var(--white);
}
.filter-bar{
    width: 100%;
    height: 10vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-size: 1.2rem;
}
.filter-bar label{
    font-size: 1.2rem;
}
.products-dropdown-menu{
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    width:  100px;
}
.products-menu-btn{
    background-color: var(--pink);
    height: 30px;
    width:  80px;
    border-radius: 5px;
    color: var(--white);
}
.products{
    width: 100%;
    height: 100%;
    padding: 2% 10%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px ;

    background-color: var(--white);
}