*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
}
ul{
    list-style: none;
}
button{
    border: none;
    background: none;
}
a{
    text-decoration: none;
    color: none;
}

/*************************************************************************************************************************/

:root {
    --white :rgb(220, 220, 220);
    --black :rgb(30, 30, 30);
    --pink: rgb(220, 50, 80);
}

/*************************************************************************************************************************/
.fashion-store-logo{
    display: block;
    text-align: center;
}
.fashion-logo{
    font-family: 'Philosopher';
    font-size: 1.5rem;
    line-height: -0.8;
}
.store-logo{
    font-family: 'Fasthand';
    font-size: 1.5rem;
    line-height: 0.8;
    color: rgb(220, 50, 80);
}
