/***************************NavBar********************************/
.nav-bar{
    width: 100%;
    height: 10vh;
    padding: 2% 5%;

    position: fixed;
    top: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--black);
    color: var(--white);
}
.nav-bar-left{
    width: 20%;
    display: flex;
    justify-content: flex-start;
}
.nav-bar-middle{
    width: 60%;
}
.nav-bar-middle ul{
    width: 100%;

    display: flex;
    justify-content: space-around;
}
.nav-bar-middle__link {
    font-size: 1.1rem;
    color: var(--white);
    transition: transform 0.2s ease;
    display: inline-block; 
}
.nav-bar-middle__link:hover {
    transform: scale(1.1);
    color: var(--pink);
    cursor: pointer;
}
.nav-bar-right{
    width: 20%;

    display: flex;
    justify-content: flex-end;
}
.nav-bar__open-cart-btn,.nav-bar__open-menu-btn{
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-bar-right i{
    font-size: 1.6rem;
    color: var(--white);
    transition: transform 0.4s ease;
}
.nav-bar__open-cart-btn:hover i{
    color: var(--pink);
    transform: scale(1.2);
}
.nav-bar__open-menu-btn{
    display: none;
}

/***************************Resposive********************************/

@media (max-width: 768px) {
    .nav-bar-middle{
        display: none;
    }
    .nav-bar__open-menu-btn{
        display: block;
        margin-left: 20px;
    }
}