.side-nav{
    height: 100%;
    width: 60%;
    right: -60%;

    position: fixed;
    top: 0;
    z-index: 15;

    background-color: var(--dark-black);

    transition: right 0.3s ease;

    text-align: center;
}
.side-nav-active{
    right: 0;
}
.side-nav ul{
    height: 100%;
    padding: 2%  10% 60%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.side-nav a{
    color: var(--white);
    font-size: 1.4rem;
}
.side-nav__btn-close{
    height: 40px;
}